GerenciadorTarefasConsole/bin/Debug/net8.0/GerenciadorTarefasConsole.deps.json
GerenciadorTarefasConsole/bin/Debug/net8.0/GerenciadorTarefasConsole.dll
GerenciadorTarefasConsole/bin/Debug/net8.0/GerenciadorTarefasConsole.exe
GerenciadorTarefasConsole/bin/Debug/net8.0/GerenciadorTarefasConsole.pdb
GerenciadorTarefasConsole/bin/Debug/net8.0/GerenciadorTarefasConsole.runtimeconfig.json
GerenciadorTarefasConsole/obj/Debug/net8.0/ref/GerenciadorTarefasConsole.dll
GerenciadorTarefasConsole/obj/Debug/net8.0/refint/GerenciadorTarefasConsole.dll
GerenciadorTarefasConsole/obj/Debug/net8.0/apphost.exe
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.AssemblyInfo.cs
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.AssemblyInfoInputs.cache
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.csproj.CoreCompileInputs.cache
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.csproj.FileListAbsolute.txt
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.dll
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.genruntimeconfig.cache
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.pdb
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.sourcelink.json
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasConsole.deps.json
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasConsole.dll
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasConsole.exe
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasConsole.pdb
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasConsole.runtimeconfig.json
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasTests.deps.json
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasTests.dll
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasTests.pdb
GerenciadorTarefasTests/bin/Debug/net8.0/GerenciadorTarefasTests.runtimeconfig.json
GerenciadorTarefasTests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
GerenciadorTarefasTests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
GerenciadorTarefasTests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
GerenciadorTarefasTests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
GerenciadorTarefasTests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
GerenciadorTarefasTests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
GerenciadorTarefasTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
GerenciadorTarefasTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
GerenciadorTarefasTests/bin/Debug/net8.0/Newtonsoft.Json.dll
GerenciadorTarefasTests/bin/Debug/net8.0/NuGet.Frameworks.dll
GerenciadorTarefasTests/bin/Debug/net8.0/testhost.dll
GerenciadorTarefasTests/bin/Debug/net8.0/testhost.exe
GerenciadorTarefasTests/bin/Debug/net8.0/xunit.abstractions.dll
GerenciadorTarefasTests/bin/Debug/net8.0/xunit.assert.dll
GerenciadorTarefasTests/bin/Debug/net8.0/xunit.core.dll
GerenciadorTarefasTests/bin/Debug/net8.0/xunit.execution.dotnet.dll
GerenciadorTarefasTests/bin/Debug/net8.0/xunit.runner.reporters.netcoreapp10.dll
GerenciadorTarefasTests/bin/Debug/net8.0/xunit.runner.utility.netcoreapp10.dll
GerenciadorTarefasTests/bin/Debug/net8.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
GerenciadorTarefasTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
GerenciadorTarefasTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
GerenciadorTarefasTests/obj/Debug/net8.0/Gerencia.BA91F786.Up2Date
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.AssemblyInfo.cs
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.AssemblyInfoInputs.cache
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.csproj.AssemblyReference.cache
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.csproj.CoreCompileInputs.cache
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.csproj.FileListAbsolute.txt
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.dll
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.genruntimeconfig.cache
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.pdb
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.sourcelink.json
GerenciadorTarefasTests/obj/Debug/net8.0/ref/GerenciadorTarefasTests.dll
GerenciadorTarefasTests/obj/Debug/net8.0/refint/GerenciadorTarefasTests.dll
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.AssemblyInfo.cs
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.AssemblyInfoInputs.cache
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.AssemblyInfo.cs
GerenciadorTarefasConsole/obj/Debug/net8.0/GerenciadorTarefasConsole.AssemblyInfoInputs.cache
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.AssemblyInfo.cs
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.AssemblyInfoInputs.cache
GerenciadorTarefasTests/obj/Debug/net8.0/GerenciadorTarefasTests.csproj.AssemblyReference.cache
